{% extends 'base.html.twig' %}

{% block title %} Devil's Palace{% endblock %}

{% block body %}
<div class="relative overflow-hidden bg-cover bg-no-repeat" 
style="background-position: 50%; background-image: url('img/ghost_face_bg.jpg'); height: 459px;">

    <main class="prose mx-auto">
    {% for type, messages in app.flashes(['success', 'error']) %}
        {% for message in messages %}
            <div class="style bg-{{ type == 'success' ? 'green' : 'red' }}-200 text-{{ type == 'success' ? 'green' : 'red' }} text-center py-2 px-5 my-4 w-54">{{ message }}</div>
        {% endfor %}
    {% endfor %}
    </main>
    <div class="px-6 text-left text-white md:px-12">
        <h1 class="mt-10 mb-4 pb-10 text-5xl font-bold">UNE NOUVELLE FAÇON D'AVOIR PEUR</h1>
        <h3 class="mb-5 text-3xl text-white font-bold">Restez connectés !</h3>
        <h3 class="mb-5 text-3xl text-white font-bold">Inscrivez-vous à notre Newsletter </h3>
        {{ include('newsletter_form.html.twig') }}
    </div>
</div>
{% endblock %}
